pvporcupine==3.0.2
pyaudio
numpy
soundfile
pyttsx3
SpeechRecognition
opencv-python
mediapipe
fastapi
uvicorn
jinja2
pyautogui
ollama
pypdf
python-docx
pyinstaller
win10toast
chromadb
sentence-transformers
librosa
playwright
paho-mqtt
requests
pywin32
pygetwindow
psutil
GPUtil
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
selenium
webdriver-manager
httpx
pystray
Pillow
openai
python-dotenv
cryptography
